<!-- Page headline -->
<div class="row headline">
  <h1>Create a trail </h1>
</div>
<div class="row instructions text-center">
  Add PicPins
</div>


<!-- upload photos to the new instance of Itinerary -->

<!--create itineary box -->

<div class="container uploaderbox text-center">

  <% count = @itinerary.photos.count %>

  <% if count < 10 %>
      <%= render '/photos/form' %>
    <% else %>
      <%= "Yo, to many pics, slow down!" %>
    <% end %>

  <h3><%= count %> of 10</h3>

  <h3><%= link_to "DONE", itinerary_path %></h3>


</div>
