<!-- Page headline -->
<div class="row headline">
  <h1>Create a trail </h1>
</div>
<div class="row instructions text-center">
  Add PicPins
</div>


<!-- upload photos to the new instance of Itinerary -->

<!--create itineary box -->

<div class="container uploaderbox text-center">

  <% count = @itinerary.photos.count %>

  <% if count < 10 %>
      <%= render '/photos/form' %>
    <% else %>
      <%= "Yo, to many pics, slow down!" %>
    <% end %>

  <p><%= count %> of 10</p>

  <%= link_to image_tag("createtrail.png", :class => "btn-primary createtrail"), itinerary_path %>
</div>
