<h1>Itinerary</h1>
<!-- upload photos to the new instance of Itinerary -->
<%= render 'form' %>

<%= render '/photos/form' %>

<%= link_to 'Show', @itinerary %> |
<%= link_to 'Back', itineraries_path %>
