<style media="screen"></style>


<p id="notice"><%= notice %></p>

<!-- Page headline -->
<div class="headline">
  <h1>Follow a trail</h1>
</div>

<!-- Map of trails near the user -->

<!-- Start gallery of images that represent trails -->
<div class="container-fluid">
  <% @itineraries.each do |itinerary| %>
    <%= link_to image_tag(itinerary.photos.first.picture_url(:thumb), alt: "No Picture"), itinerary, class:'picpin' %>
  <% end %>
</div>
<!-- End photo gallery of images that represent trails -->

    <%#@itineraries.each do |itinerary| %>
        <%# link_to image_tag(itinerary.photos.first.picture_url(:thumb)), itinerary %>
        <%# link_to 'Show', itinerary %>
        <%# link_to 'Edit', edit_itinerary_path(itinerary) %>
        <%# link_to 'Destroy', itinerary, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%# end %>
