<div class="row headline">
  <h1><%= @itinerary.title %></h1>
</div>


<!--Social Networking Share buttons -->
<div class="row share">
  <share-button class="sharing"></share-button>
</div>


<!-- Map of itinerary -->
<div class="row map">
  <div id="map"></div>
</div>

<p id="trail-length"></p>

<button type="button" id="whereami">Where Am I?</button>


<!--image thumbnails to open as model -->
<div class="container-fluid">
  <%= render @itinerary.photos %>


<%= content_tag(:p, @itinerary.id, id: "trail" ) %>

<%= content_tag(:p, @itinerary.travel, id: "travel") %>

<%# link_to 'Back', itineraries_path %>

</div>

<script>
          config = {
            networks: {
          email: {
            enabled: false
                },
          twitter: {
            description: "Explore a trail! Look up!"
          },
          facebook: {
            description: "Explore a trail! Look up!"
          },
          pintrist: {
            description: "Explore a trail! Look up!"
          },
            }
          };
          var shareButton = new ShareButton('.sharing', config)
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIAW3z8RyJAAq5KFcziTTMSk9fh42xyRc&callback=initialize"></script>
