<div class="container text-center">
  <h1> User Index landing page</h1>
</div>

<div class="row text-center">
  <%= link_to 'Make a Trail!', new_itinerary_path %>
</div>

<% @itineraries.each do |itinerary| %>
    <%= link_to image_tag(itinerary.photos.first.picture_url(:thumb)), itinerary %>
    <% link_to 'Show', itinerary %></td>
    <%= link_to 'Edit', edittrail_path(itinerary) %></td>
    <%= link_to 'Destroy', itinerary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
