

<%= form_for([@itinerary, @photo]) do |f| %>
  <div class="field">
    <%# f.label :picture %>
    <%= f.file_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
