



<%= image_tag(photo.picture_url(:thumb), id: photo.id, class: "thumbnails") %>

<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Test Modal</h4>
      </div>
      <div class="modal-body">
        <p>Testing 1,2,3</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
   <%# photo.latitude  %>
   <%# photo.longitude  %>
