/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background-color: #B1E6D9;
  font-family: 'Rancho', 'cursive';
  margin-bottom: 8%;
}
/*--header -- */
.top {
  width: 100%;
  height: 30%;
  margin-top: 1em;
  padding-bottom: 2em;
}

.loginstatus {
  height: 50%;
  text-align: right;
  margin-right: 3em;
  font-size: 2.5em;
  color:#057B71;
}

.header {
  padding: 1em 0 1em 0;
}
.logo {
  width: 150px;
  height:auto;
  margin-top: -8%;
  margin-left: 75%;
}

.cityscape {
  width: 100%;
  height: auto;
}

/*--headline/tagline--*/

.headline {
  margin-top: -8%;
  margin-left: 35%;
  color: #057B71;
}
.tagline {
  margin-top: -2%;
  margin-left: 40%;
  color: #0CA79C;
}
/*// set Google map size, must have to show map*/
#map {
  height: 500px;
  width: 500px;
}

/*--lead image gallery for index and user page */
.trailleadpic {
  width: 100%;
  background-color: #B1E6D9;
  margin: -1% -1% -1% -1%;
  padding: 0 0 0 0;
}

.picpin {
  padding: 0 0 0 0;
  margin-top: 0 0 0 0;
}

/*Box to upload pic from device ox*/
.uploaderbox {
background-color: #22ADA5;
width: 75%;
margin-top: 8%;
}


/*--bottom navigation -- */
footer{
  height: 10%;
  width: 100%;
}

nav {
  background-color: #057B71!important;

}

.navbar .nav {
  background-color: #057B71 !important;
  width: 100%;
  height:100%;
}

.navbar .nav li {
  display: inline-block;
  /*width: 32%;*/
}

ul li:nth-child(1) {
  width: 30%;
  padding-left: 5%;
}

ul li:nth-child(2) {
  width: 32%;
  text-align: center;
}

ul li:nth-child(3) {
  width: 32%;
  text-align: right;
}

.push{
 color: #F8F8F8;
 font-size: 4em;
}



/*--phone media query-- */
@media only screen
and (min-device-width : 300px)
and (max-device-width : 667px) {
  /*Set margin-bottom to account for floating bottom navigation*/
  body {
    margin-bottom: 35%;
  }

  .loginstatus {
    height: 50%;
    text-align: right;
    margin-right: auto;
    font-size: 2em;
  }
  .logo {
    width: 35%;
    height: 100%;
    margin-top: -25%;
    margin-left: 55%;
  }

  .headline {
    margin-top: -25%;
    margin-left: 3%;
    color: #057B71;
  }
  .tagline {
    margin-top: -10%;
    margin-left: 10%;
    color: #0CA79C;
  }
  #map {
    width: 275px;
    height: 275px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }


  footer{
    height: 10%;
    width: 100%;
  }
}



/*--Tablet media query-- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
/* STYLES GO HERE */
}

/*Laptop Media Queru -- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
}
