/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background-color: #B0E5D8;
  font-family: 'Rancho', 'cursive';
}
/*--header -- */
.top {
  width: 100%;
  height: 20%;
}

.top .logo {
  width: 18%;
  height: 100%;
  margin-top: -8%;
  margin-left: 75%;
}

.top .cityscape {
  width: 100%;
  height: 100%;
  margin: 1%;
}

/*--headline/tagline--*/
.headline {
  margin-top: -13%;
  margin-left: 35%;
}
// set Google map size, must have to show map
#map {
  height: 500px;
  width: 500px;
}

/*--bottom navigation -- */
nav {
  background-color: #057B71!important;

}

.navbar .nav {
  background-color: #057B71 !important;
  width: 100%;
}

.navbar .nav li {
  display: inline-block;
  /*width: 32%;*/
}

ul li:nth-child(1) {
  width: 30%;
  padding-left: 5%;
}

ul li:nth-child(2) {
  width: 32%;
  text-align: center;
}

ul li:nth-child(3) {
  width: 32%;
  text-align: right;
}

/*ul li a i {
  float: right;
}*/
.push{
 color: #F8F8F8;
 font-size: 4em;
}

/*li {
  display: inline-flex !important ;
  size: 55px;
}*/

/*--phone media query-- */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .top .logo {
    width: 35%;
    height: 100%;
    margin-top: -12%;
    margin-left: 55%;
  }
  .push{
   color: #F8F8F8;
   font-size: 2em;
  }
}


/*phone media query -- */
  @media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .footer {
    visibility: visible !important;
  }
}

/*--Tablet media query-- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
/* STYLES GO HERE */
}

/*Laptop Media Quer -- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
}
