// Place all the styles related to the itineraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// set Google map size, must have to show map
#map {
  height: 500px;
  width: 500px;
}

body{
  font-family: 'Rancho', 'cursive';
}

h1 {
  font-family: 'Rancho', cursive;
}

h3 {
  font-family: 'Rancho', cursive;
  margin-top: -1em;
}


.logo {
  width: 150px;
  height: 100%;
  margin-top: -4em;
}

.header{
  margin-top: -2em;
}

.tagline2{
  padding-top: -3em;
}
//
// // Tablet media query
// @media (min-width: @screen-sm-min) {
//
// }
//
// //Medium devices
// @media (min-width: @screen-md-min) {
//
// }
