body {
  font-family: 'Rancho', 'cursive';
}
.headline {
  background-color: red;
}
// set Google map size, must have to show map
// #map {
//   height: 500px;
//   width: 500px;
// }

p {
  color: red;
}
// .headline {
//   margin-top: 0px;
//   text-align: center;
// }
