// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#fileInput {
  width: 100px;
  opacity: 0;
  visibility: visible;
}

#addphoto {
  width: 100px;
  height: 100px;
}
.addphoto {
  font-size: 4em;
}
.fullsize {
  display: none;
  border-radius:10px 10px 10px 10px;
  box-shadow:0 0 25px 5px #999;
}
