// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#fileInput {
  width: 100px;
  opacity: 0;
}

#plusIcon {
  opacity: 0;
}

.addphoto {
  font-size: 6em;
  margin-top: -22%;
}

.uploaderbox {
background-color: #22ADA5;
width: 75%;
margin-top: 8%;
}

#addphoto {
  width: 50px;
  height: atuo;

}
