// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field {
  color:black;
  padding-bottom: 10px;
  height: 30px !important;
  width: 40%;
  justify-content: right;
}

.signup {
  margin-top: 0;
  padding-top: 0;
}

.row_signup {
  text-align: center;

}

h1 .longinheadline{
  color:#FEC954;
  padding-bottom: 50px;
}

.login {
  color:#FEC954;
  font-size: 2em;
  padding-bottom: 5%;
}



@media only screen
and (min-device-width : 300px)
and (max-device-width : 667px) {
  .signup {
    margin-top: -20%;
    padding-top: 0;
    color: #FEC954;
  }

  .login {
    padding-bottom: 10%;
  }
}
